// Colors
$dark-navy: hsl(234, 29%, 20%);
$dark-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
$orange-input: #ffe8e6;
$dark-orange: #e9603a;
$orange: #ff693e;
$pink: #ff5379;

// Breakpoint
$bp-desktop: 930px;
$bp-mobile-lg: 768px;

